<%= turbo_frame_tag :content do %>
    <div class="about_group">
    <h4>Adding Games</h4>
    To import your collection please ensure your BGG username is attached to your profile.  You can change this by going to the homepage and selecting "Edit Profile". </br>
    Once your BGG is attached to your account, select "Games" from the sidebar (or from the expandable menu on mobile).  On this screen you will find a button marked "Update My Collection"
    <h4>Rating Games</h4>
    To rate how keen you are to play games, visit the Games page. Games can be filtered by group if you want to see games that are available within a particular group, or by those owned by a particular user.</br>
    You can also search by game name, or click on the table headings to sort the table by game name, weight, year or by your rating.</br>
    When you select a rating from the drop down box it will automatically update your rating of the game.  If you want to see more information about the game you can select the row that game is in to expand it with more details.</br>
    <h4>Ratings</h4>
    Ratings can be selected from the below options to describe how keen you are to play a game, please see below guidelines as to how they should be applied. We do not use bgg ratings for these as these are intended to be more dynamic. For example you could have a game that you have rated a 10 on bgg but have played many times, and you have a new game that you are more excited to try at this moment.
    <ul>
        <li><b>Not Rated</b> - This is automatically applied to all games you have not yet rated, and is equivalent to rating a game "No Interest"</li>
        <li><b>Avoid</b> - A negative rating that will usually mean the game is not recommended to you unless it is very popular with the other players and nothing else suits</li>
        <li><b>No  Interest</b> - Equivalent to not rating the game, this means you have no particular interest in playing it</li>
        <li><b>Content</b> - You will play this if it comes up, alternatively a new game you are curious to try but have no particular drive to push</li>
        <li><b>Happy</b> - A game you are happy to play if it comes to the table, and you would expect to enjoy but are not desperate to pull out </li>
        <li><b>Keen</b> - A game you either really enjoy playing or are keen to try </li>
        <li><b>Excited</b> - A game you are desperate to play! Reserved for games that are top of your priorities to play at present</li>
    </ul>
    <h4>Groups</h4>
    To join or start a group visit the "Groups" page. From here you will be able to either select the option to create a new group, or select a group to see the details and members of the group.  From there you should be able to join or leave a group, or if you are the creator of the group you can edit its details or delete it.</br>
    If you leave a group where you are the only member it will automatically be deleted.
    <h4>Plays</h4>
    The aim of this app is to help streamline the decision of what game to play on any given night.  To do this ensure you have joined a group, and all attendees have their ratings up to date.</br>
    Navigate to the "New Play" page.  From there select the group that attendees will be drawn from.  You can then select which members will be attending, and which members will be allowing their collections to be used.  A member can be attending but not bringing any games, or allowing their games to be used but not attending. If you have a venue that is providing games you can create an account for them, add them as a group member and then uncheck attending but check collection to indicate that their games are available.</br>
    You can then set the options around your play session, such as the minimum and maximum game length that will be recommended, the minimum and maximum weight of game and the minimum and maximum group sizes that will be used. The recommendation will try and ensure maximum satisfaction with the recommendation, so if you have 5 players and minimum group size of 2, it may recommend one 2 player and one 3 player game if that would be most appropriate.  To avoid having more than one game recommended set the minimum and maximum group size to the size of your group. At the moment the app does not have the capability to recommend a series of games if you have a longer play session, ie it will only recommend one game per grouping.  If you select the option to use recommended player counts games will not be recommended outside of the player counts with majority positive votes on bgg, which may be different to the player counts on the box.</br>
    Once you have set all the options select "Get Results" and the app will generate information about which players should play which games.  If multiple possibilities are tied the app will randomly choose so you may get different results with the same input. PLEASE NOTE this process requires a lot of calculations to look at all possibilities, especially with larger group sizes and games collections so this can take a considerable amount of time to produce results.
    </div>
<% end %>